
.el-dialog{
    width: 40% !important;
    .ng-tns-c2-0{

    }
}

.bodyBox{
    background: cornflowerblue;
    button{
        background: red!important;
    }
    .el-button{
        background-color: darkgoldenrod !important;
    }
    .el-dialog{
        background: cadetblue
    }
}